<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="1" name="Test">
		<parameter name="browser" value="chrome" />
		<classes>
		<class name="scrapedata.Baseclass" />
		<class name="scrapedata.Hypothyrod" />
		<class name="scrapedata.HypothyroidAllergies" />
		<class name="scrapedata.HypothyroidAllRecipes" />
		<class name="scrapedata.HypothyroidToAdd" />	      
		<class name="scrapedata.Diabetesscrape" />
		<class name="scrapedata.ToaddDiabetes" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
