<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="1" name="Test">
		<parameter name="browser" value="chrome" />
		<classes>
		<class name="scrapedata.Baseclass" />
		<class name="scrapedata.TOADDhypertension" />
		<class name="scrapedata.TOADDlunch" />
		<class name="scrapedata.TOADDVeg" />
		<class name="scrapedata.Lunch" />
		<class name="scrapedata.Veg" />
		<class name="scrapedata.Hypertension" />
		<class name="scrapedata.LunchAllergy" />
		<class name="scrapedata.Hypertension" />
		<class name="scrapedata.VegAllergy" />
		<class name="scrapedata.Vegsoup" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
